body {
  text-align: center;
  background-color: #3FA796;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEC260;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}
.start {
  margin: 5px;
  display: inline-block;
  height: 50px;
  width: 7rem;
  border: 5px solid black;
  border-radius: 10%;
  font-weight: bold;
  font-size: 2rem;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 13rem;
  width: 13rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #A10035;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
